*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

body{
    background-color: cornsilk;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.skill{
    width: 160px;
    height: 160px;
    position: relative;

}

.outer
{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    padding: 20px;
    box-shadow: 6px 6px 10px -1px rgba(71, 6, 75, 0.3),
                -6px -6px 10px -1px rgba(255, 255,255, 0.8)

}
.inner
{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border:1px solid saddlebrown; */
    box-shadow: inset 4px 4px 6px -1px rgba(204, 51, 64, 0.4),
                inset -4px -4px 6px -1px rgba(255,255,255,0.8),
                -0.5px -0.5px 0px rgba(255,255,255,1),
                0.5px 0.5px 0px rgba(0,0,0,0.3),
                0px 12px 10px -10px rgba(71,6,6,0.15);

}
  
#number
{
    font-weight: 600;
    color: brown;

}


circle
{
    fill:none;
    stroke:url(#GradientColor);
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;  
     /* stroke-dashoffset: jitna circle nhi dikh rha hoga ; */
    animation: anim 2s linear forwards;
}
svg{
    position: absolute;
    top: 0;
    left: 0;

}

@keyframes anim {
    100%
    {
        stroke-dashoffset: 165;
    }
    
}

    
    

